* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.623);
}
#root {
  margin: 0;
}

.App {
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
