.SimpleDateRangeViewer {
  background-color: rgb(42, 48, 48);
  width: 70%;
  border-radius: 25px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rangeForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rangeContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 20px;
}

.rangeInput {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  margin-bottom: 25px;
}

.rangeBtn {
  width: 100%;
  padding: 10px 20px;
  background-color: aquamarine;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}
.result {
  opacity: 0;
  transform: scale(0.9);
  color: aquamarine;
  font-size: 1.8rem;
  font-weight: 600;

  animation: appearOnce 0.8s ease forwards;
}

@keyframes appearOnce {
  0% {
    opacity: 0;
    transform: scale(0.9);
    text-shadow: none;
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
